* {
  font-family: "FiraCode Nerd Font", sans-serif;
  font-size: 13px;
  border: none;
  border-radius: 0;
  min-height: 0;
  color: #ebdbb2;
}

window#waybar {
  background-color: rgba(40, 40, 40, 0.9);
  border-bottom: 2px solid #3c3836;
}

#clock,
#cpu,
#memory,
#temperature,
#battery,
#network,
#custom-power,
#workspaces {
  padding: 0 10px;
}

#workspaces button {
  padding: 0 5px;
  margin: 0 2px;
  background-color: transparent;
  color: #ebdbb2;
}

#workspaces button.active {
  background-color: #458588;
  color: #1d2021;
}
