* {
  font-family: "FiraCode Nerd Font", sans-serif;
  font-size: 13px;
  background: transparent;
  color: #ebdbb2;
}

window {
  background-color: rgba(29, 32, 33, 0.95);
  border: 2px solid #3c3836;
}

#input {
  margin: 10px;
  padding: 5px;
  border: none;
  background-color: rgba(40, 40, 40, 0.9);
  color: #ebdbb2;
}

#entry {
  padding: 8px;
}

#entry:selected {
  background-color: #458588;
  color: #1d2021;
}
